* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
   background: linear-gradient(135deg, #9e9bbe 0%, #373b43 100%); 
}
.avatar-logo {
    text-shadow: 5px 5px 10px 5px rgb(83, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero {
    background: linear-gradient(135deg, #000000 0%, #4977cc 100%);
    text-align: center;
    color: white;
    padding: 120px;    
}
.avatar {
     background: linear-gradient(135deg, #9e9bbe 0%, #373b43 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
}

 
  .card {
    padding: 40px;
    display: flex;
    gap: 20px;
    box-shadow: 5px 5px 10px 5px rgb(176, 165, 165);
    margin: 20px;
    border-radius: 50px;
}

main img {
    width: 150px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.35) 5px 5px 10px 10px;
}  

.haqida {
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.kontakt {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    box-shadow: 5px 5px 10px 5px rgb(176, 165, 165);
    margin: 20px;
    border-radius: 50px;
    background: linear-gradient(135deg, #9e9bbe 0%, #373b43 100%);
    
      

}

.contact-desc {
    display: flex;
    flex-direction: column;
}

.contact-desc h1, .contact-desc p {
    color: white;
    
}

.contact-media a {
    color: white;
    padding: 10px;
    /* background-color: gray; */
    border-radius: 20px;
    gap: 20px;
}


footer {
     background: linear-gradient(135deg, #9e9bbe 0%, #373b43 100%); 
    text-align: center;
    padding: 20px;
}

 .contact-media img {
    width: 40px;
    height: 40px;
}

.contact-media img:hover {
   box-shadow: 0px 0px 10px 5px rgb(176, 165, 165);
   transform: translateY(-10px);
}


.nav {
    display: flex;
    gap: 12px;
}
.nav a:hover {
    text-shadow: 5px 5px 5px red
}


.avatar-logo:hover {
 text-shadow: 5px 5px 10px 5px rgb(83, 24, 24);   
}